{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Главная страница сайта
{% endblock %}

{% block content %}
    <h1>Здравствуйте!</h1>
    <p>Наша информационная система разрабатывалась с целью повышения услуг, предоставляемых гражданам.
    Нам важно чтобы каждое обращение в админимстацию дошло до получателя и, поэтому, был разработан
    WEB-ресурс для экономии как Вашего так и Нашего времени. Спасибо!</p>

    <p>В форме ниже заполните, пожалуйста, обязательные поля и отправьте Ваше обращение
    Нашим специалистам.</p>

{% endblock %}