{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Имените свое обращение
{% endblock %}

{% block content %}
    <form method="post" action="" class="inter-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="inter-form__row">
            <span class="label-info">Тема обращения <span class="red-star">*</span></span>
            {{ form.theme }}
        </div>
        <div class="inter-form__row">
            <span class="label-info">Содержание обращения <span class="red-star">*</span></span>
            {{ form.content_appeals }}
        </div>
        <div class="inter-form__row">
            <span class="label-info">Изображение</span>
            {{ form.image }}
        </div>
        <div class="inter-form__row">
            <span class="label-info">Документ</span>
            {{ form.file }}
        </div>
        <div class="inter-form__container"><button type="submit" class="button">Изменить обращение</button></div>
    </form>
{% endblock %}